body {
  text-align: center;
  background-color: #85193C;
}

#myTitle {
  font-size: 5rem;
  padding-top: 20px;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image:url("./images/crash.png");
}

.a {
background-image: url("./images/kick.png");
}

.s {
background-image: url("./images/snare.png");
}

.d {
background-image: url("./images/tom1.png");
}

.j {
background-image: url("./images/tom2.png");
}

.k {
background-image: url("./images/tom3.png");
}

.l {
background-image: url("./images/tom4.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #b8a8a8;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.gradient-background {
  background: linear-gradient(-50deg,
    #FF9D23,  #85193C,

      #1B004C);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media(max-width:767px) {
#myTitle {
    font-size:rem;

  }
 .drum {
    font-size: 3rem;
      border: 5px solid #b8a8a8;
      width: 130px;
      height: 130px;
 }
}
@media (min-width:768px) and (max-width:1080px) {
  #myTitle {
    font-size: 9rem;
    padding-top: 10px;
  }

  .drum {
    font-size: 6rem;
    width: 230px;
    height: 230px;
  }
}